html, body {
  height: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* background-color: #46045e; */
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #46045e;
  color: #f3ebf6;
}

.users {
  height: 250px;
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 10px;
  
}

.repos {
  height: 150px;
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  
}

.users__image {
  height: 100px;
  width: 100px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  
  
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
  
}


.post__input {
  flex: 1;
  
  padding: 10px;
  border: 1px solid lightgray;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post__button {
  flex: 0;
  border-right: none;
  color: #6082a3;
  background-color: transparent;
  border: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
}